<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Filme</title>
</head>
<body>

<h1 th:text="${filme.id == null ? 'Cadastrar Filme' : 'Editar Filme'}"></h1>

<form action="/filmes/salvar" method="post">
    <input type="hidden" name="id" th:value="${filme.id}">

    <label>Título:</label><br>
    <input type="text" name="titulo" th:value="${filme.titulo}" required><br><br>

    <label>Gênero:</label><br>
    <input type="text" name="genero" th:value="${filme.genero}" required><br><br>

    <label>Duração:</label><br>
    <input type="text" name="duracao" th:value="${filme.duracao}" required><br><br>

    <button type="submit">Salvar</button>
</form>

<br>
<a href="/filmes/listar">Voltar para lista</a>

</body>
</html>
